.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 2;
  padding: 30px 0 10px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.block-intro {
	background-image: url(../images/intro-bg-coaches.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 0 220px;

  @media (min-width: 768px) {
    padding: 0 0 145px;
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($color-black, 0.5);
    z-index: 0;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    position: relative;
    z-index: 1;
  }

  &__content {
    text-align: center;
  }

  &__title {
    font-size: 38px;
    line-height: 1.3;
    font-weight: 700;
    color: $colorIntroTitle;
    margin-bottom: 15px;

    @media (min-width: 768px) {
      font-size: 78px;
      max-width: 860px;
      text-align: center;
      margin-bottom: 35px;
    }
  }

  &__subtitle {
	  font-size: 16px;
	  line-height: 1.1;
	  font-weight: 500;
	  color: $colorIntroSubTitle;
    padding: 0 0 20px;
    
    @media (min-width: 768px) {
      font-size: 26px;
    }
  }

  &__arrow {
    width: 54px;
    height: 54px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 250px;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px) {
		width: 40px;
    	height: 40px;
      bottom: 200px;
      animation: animatedArrow 2s ease-in-out infinite; 
    }
  }

  &__footer {
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(#fff, .25);

    @media (min-width: 1024px) {
      padding: 30px 0;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    
  }

  &__item {
    width: 100%;
    text-align: center;

    &:not(:last-child){
      padding: 0 0 15px;

      @media (min-width: 768px) {
        padding: 0;
      }
    }

    @media (min-width: 768px) {
      width: 33.3%;
    }
    
    &--text {
      color: white;
      font-size: 16px;
      line-height: 22px;
      font-weight: 400;

      @media (min-width: 768px) {
        font-size: 18px;
        line-height: 24px;
      }
    }

    &--value {
      color: white;
      font-size: 22px;
      line-height: 28px;
      font-weight: 500;

      @media (min-width: 768px) {
        font-size: 40px;
        line-height: 52px;
      }

      @media (min-width: 1024px) {
        font-size: 48px;
        line-height: 60px;
      }
    }
  }
}

@keyframes animatedArrow {
  0% {
    transform: translate( -50%, 0);
  }

  50% {
    transform: translate(-50%, 20px);
  }

  100% {
    transform: translate(-50%, 0);
  }
}

.block-about {

  &__img {
    display: none;

    @media (min-width: 768px) {
      display: block;
    }
  }

  &__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1230px;
    padding: 0 50px;

    @media (min-width: 768px) {
      margin: -120px auto 0;
      padding: 0;
    }
  }

  &__item {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(#000000, 0.1);
    border-radius: 10px;
    padding: 20px 10px;
    text-align: center;

    @media (min-width: 768px) {
      padding: 20px;
      width: calc(25% - 16px);
    }

    @media (min-width: 1024px) {
      border-radius: 20px;
      padding: 29px 23px;
    }
  }

  &__arrow-down {
    border: none;
    margin: 9px 0;
    width: 30px;
    height: 30px;
    background-color: $color-light-grey;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__step {
    font-size: 46px;
    line-height: 50px;
    display: none;
    margin-bottom: 15px;

    @media (min-width: 768px) {
      display: inline-block;
    }
  }

  &__step-info {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      margin: 0 0 0 12px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 22px;
    color: $color-black;

    &.success {
      font-weight: 600;

      @media (min-width: 768px) {
        font-weight: inherit;
      }
    }

    @media (min-width: 1200px) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  &__arrow {
    display: none;

    @media (min-width: 768px) {
      display: block;
    }
  }
}

.block-benefits {
	
	&__description {
    margin: 0 -8px;
    display: flex;
    flex-wrap: wrap;

    &.reverse-img {
      flex-direction: row-reverse;
    }
  }

  &__list {
    width: 100%;

    @media (min-width: 768px) {
      width: 50%;
    }
  }

  &__list-wrap {
    padding: 0 40px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    counter-reset: section;

    &.second-counter {
      counter-reset: section 4;
    }

    @media (min-width: 768px) {
      max-width: 550px;
      padding: 0 0 0 20px;
      margin: 0 0 0 auto;
    }

    &.bottom-reasons {

      @media (min-width: 768px) {
        margin: 0 auto 0 0;
        padding: 0 20px 0 0;
      }
    }
  }

  &__item_wrap {
    margin: 0 0 40px;
    position: relative;

    &::before {
      counter-increment: section;
      content: counter(section);
      position: absolute;
      font-size: 160px;
      line-height: 135px;
      font-weight: 700;
      color: #EFEFEF;
      top: 50%;
      transform: translateY(-50%);
      z-index: -1;

      @media (min-width: 768px) {
        display: none;
      }
    }

    &:nth-child(odd)::before {
      left: -20px;
    }

    &:nth-child(even)::before {
      right: -20px;
    }

    @media (min-width: 768px) {
      margin: 0;
      padding: 8px;
      width: 50%; 
    }
  }

  &__item {
    padding: 20px 10px;
    text-align: left;

    @media (min-width: 768px) {
      height: 100%;
      background-color: #fff;
      box-shadow: 0 0 20px 0 rgba(#000000, 0.1);
      border-radius: 10px;
      text-align: center;
    }

    &--digit {
      display: none;

      @media (min-width: 768px) {
        font-size: 40px;
        line-height: 45px;
        margin-bottom: 20px;
        display: inline-block;
      }

      @media (min-width: 1024px) {
        font-size: 46px;
        line-height: 50px;
        display: inline-block;
      }
    }

    &--title {
      margin: 0 0 15px;
      font-size: 22px;
      line-height: 28px;
      font-weight: 500;

      @media (min-width: 768px) {
        font-size: 18px;
        line-height: 24px;
        font-weight: 600;
      }

      @media (min-width: 1024px) {
        font-size: 22px;
        line-height: 28px;
      }
    }

    &--text {
      font-size: 16px;
      line-height: 22px;
      font-weight: 400;

      @media (min-width: 1024px) {
        font-size: 18px;
        line-height: 24px;
      }
    }
  }

  &__img {
    padding: 8px;
    width: 100%;

    @media (min-width: 768px) {
      width: 50%;
    }
  }

  &__img-wrap {
    height: 100%;
    overflow: hidden;

    &.left-radius {
      @media (min-width: 768px) {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px; 
      }
    }

    &.right-radius {
      @media (min-width: 768px) {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px; 
      }
    }
    > img {
      max-height: 100%;
      min-height: 100%;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.block-flexibility {
  padding: 20px 0 0;

  @media (min-width: 768px) {
    padding: 40px 0 0;
  }

  @media (min-width: 1024px) {
    padding: 100px 0 0;
  }

  &__info {
    padding: 35px 0 60px;
    background-image: url('../images/flexibility_bg.jpg');
    background-repeat: no-repeat;
    background-position: 10% center;
    background-attachment: scroll;
    background-size: cover;
    position: relative;

    @media (min-width: 768px) {
      background-position: center center;
      padding: 50px 0 80px;
    }
  
    @media (min-width: 1024px) {
      padding: 75px 0 90px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: -moz-linear-gradient(top, rgba(0,0,0,.75) 0%, rgba(0,0,0,0) 100%);
      background: -webkit-linear-gradient(top, rgba(0,0,0,.75) 0%,rgba(0,0,0,0) 100%);
      background: linear-gradient(to bottom, rgba(0,0,0,.75) 0%,rgba(0,0,0,0) 100%);
    }

    &--text {
      padding: 0 30px 30px;
      margin: 0 auto;
      font-size: 16px;
      line-height: 22px;
      font-weight: 400;
      color: #ffffff;
      text-align: center;
      position: relative;
      z-index: 1;

      @media (min-width: 768px) {
        padding: 0 0 30px;
        max-width: 500px;
        font-size: 18px;
        line-height: 24px;
      }
      @media (min-width: 1024px) {
        padding: 0 0 70px;
        max-width: 850px;
        font-size: 22px;
        line-height: 28px;
        font-weight: 600;
      }
    }
  }

  &__items {
    max-width: 1100px;
    padding: 0 30px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    z-index: 1;

    &.wrapper {
      max-width: 1100px;
    }

    .item {
      width: 100%;
      padding: 0 8px;
      margin: 0 0 24px;

      &:nth-child(2) {
        order: 2;

        @media (min-width: 768px) {
          order: 1;
        }
      }

      &:nth-child(3) {
        order: 1;
      }

      @media (min-width: 768px) {
        margin: 0;
        width: 33.3%;
      }

      &--wrap {
        height: 100%;
        padding: 20px 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
        box-shadow: 0 0 20px 0 rgba(#ffffff, .75);
        border-radius: 20px;

        @media (min-width: 768px) {
          padding: 25px 20px;
        }

        @media (min-width: 1024px) {
          padding: 40px 45px;
        }

        > p {
          font-size: 16px;
          line-height: 22px;
          font-weight: 400;
          text-align: center;

          @media (min-width: 768px) {
            font-size: 18px;
            line-height: 24px;
          }

          @media (min-width: 1024px) {
            font-size: 20px;
            line-height: 30px;
          }
        }
      }
    }
  }
}

.block-feedback {
	padding: 65px 0 50px;

	@media (min-width: 768px) {
		padding: 80px 0 55px;
	}

	@media (min-width: 1024px) {
		padding: 140px 0 120px;
	}

	&__about-founder {
		display: flex;
		flex-wrap: wrap;
	}

	&__img {
		width: 100%;
		position: relative;

		@media (min-width: 768px) {
			width: 50%;
		}
	}

	&__img-wrap {
		position: relative;

		@media (min-width: 768px) {
			position: static;
			background-image: url('../images/feedback-founder1.png');
			width: 100%;
			height: 100%;
			position: absolute;
			min-height: 914px;
			top: -28%;
			background-repeat: no-repeat;
			background-position: 110%;
			z-index: 2;	
		}

		.img-mobile {
			width: 70%;

			@media (min-width: 768px) {
				display: none;
			}
		}
	}

	&__interests-mobile {
		padding: 0 15px 0 0;
		position: absolute;
		bottom: 90px;
		left: 50%;
		
		.item {
			margin: 0 0 16px;

			.item-img {
				width: 28px;
				height: 28px;
				border-radius: 50%;
				background-color: #ffffff;
				position: relative;
				box-shadow: 0 0 10px 0 rgba( #000000,  .1);

				img {
					width: 18px;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}

			.item-title {
				margin: 0 0 0 10px;
				font-size: 14px;
				line-height: 20px;
				font-weight: 600;
			}
		}
	}

	&__info {
		padding: 0 15px;
		width: 100%;

		@media (min-width: 768px) {
			max-width: 620px;
			padding: 64px 20px 40px 0;
			width: 50%;
		}

		@media (min-width: 1024px) {
			padding: 90px 20px 70px 0;
		}

		&--mobile {

			@media (min-width: 768px) {
				display: none;
			}
		}
	}

	&__title {
		padding: 0 0 10px;
		font-size: 18px;
		line-height: 24px;
		font-weight: 600;

		@media (min-width: 768px) {
			padding: 0 0 20px;
			font-size: 24px;
			line-height: 30px;
		}

		@media (min-width: 1024px) {
			padding: 0 0 30px;
			font-size: 30px;
			line-height: 52px;
		}
	}

	&__text {
		font-size: 16px;
		line-height: 22px;
		position: relative;

		> p {
			max-height: 265px;
			overflow: scroll;

			@media (min-width: 768px) {
				max-height: 100%;
			}

			&::-webkit-scrollbar {
				display: none;
			}
		}

		.shadow-text {
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 60px;
			background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
			z-index: 1;

			@media (min-width: 768px) {
				display: none;
			}
		}

		@media (min-width: 768px) {
			max-height: auto;
			font-size: 18px;
			line-height: 24px;
		}
	}

	&__interests {
		display: none;
		padding: 16px 0 18px;
		background-color: $colorBgFounderInterests;

		@media (min-width: 768px) {
			width: 100%;
			display: block;
		}

		&--right {
			max-width: 50%;
			margin: 0 0 0 auto;
			
			&--wrap {
				padding: 0 20px 0 0;
				max-width: 620px;
				display: flex;
				justify-content: space-between;
				align-items: baseline;
			}
		}
	}

	&__interests-item {

		&:nth-child(2) {
			padding: 0 10px;
		}
		img {
			margin: 0 auto;
		}

		&--title {
			font-size: 16px;
			line-height: 22px;
			font-weight: 400;
			text-align: center;
			padding: 10px 0 0;
		}
	}

	&__interests-mobile {

		@media (min-width: 768px) {
			display: none;
		}

		.item {
			display: flex;
			align-items: center;
		}
	}
}

.block-community {
  padding: 70px 0 0;

  &__slider {
	  padding: 0 0 60px;
  }

  &__coach {
	min-height: 400px;
	padding: 33px;
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: start;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: -moz-linear-gradient(bottom, rgba(0,0,0,.75) 0%, rgba(0,0,0,0) 100%);
		background: -webkit-linear-gradient(bottom, rgba(0,0,0,.75) 0%,rgba(0,0,0,0) 100%);
		background: linear-gradient(to top, rgba(0,0,0,.75) 0%,rgba(0,0,0,0) 100%);
		z-index: -1;
	}

	&--text {
	  font-size: 18px;
	  line-height: 24px;
	  font-weight: 400;
	  color: #ffffff;

	  @media (min-width: 768px) {
		font-size: 16px;
		line-height: 22px;
	  }

	  @media (min-width: 1024px) {
		font-size: 18px;
		line-height: 24px;
	  }
	}

	&--name {
	  padding: 16px 0 0;
	  font-size: 16px;
	  line-height: 22px;
	  font-weight: 600;
	  color: #ffffff;

	  @media (min-width: 768px) {
		font-size: 20px;
		line-height: 24px;
	  }
	}
  }

  &__become-coach {
	margin: -60px 0 0;
    padding: 85px 0 95px;
    text-align: center;
	background-color: $colorBgBecomeCoach;
	
	@media (min-width: 991px) {
		padding: 65px 0 95px;
	}

    &--title {
      padding: 35px 0;
      font-size: 26px;
      line-height: 32px;
      font-weight: 500;

      @media (min-width: 768px) {
        font-size: 36px;
        line-height: 44px;
      }

      @media (min-width: 1024px) {
        font-size: 48px;
        line-height: 63px;
      }
    }
  }

  &__pagination {
    &.swiper-pagination {
      .swiper-pagination-bullet {
        width: 13px;
        height: 13px;
        margin: 0 10px;
      }
    }

    .swiper-pagination-bullet-active {
      background-color: #000;
    }
  }
}

.questions {
  &__items {
    margin: 0 -8px;
    display: flex;
    flex-wrap: wrap;

    @media (min-width: 768px) {
      margin: 0 -8px 50px;
    }

    @media (min-width: 1024px) {
      margin: 0 -8px 140px;
    }
  }

  &__item {
    width: 100%;
    padding: 0 8px 8px;

    @media (min-width: 768px) {
      width: 50%;
      padding: 8px;
    }

    &--text {
      padding: 20px 25px;
      margin: 0 0 0 auto;
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      line-height: 22px;
      font-weight: 400;
      color: $color-black;

      @media (min-width: 768px) {
        max-width: 565px;
      }

      @media (min-width: 991px) {
        font-size: 18px;
        line-height: 24px;
      }
    }

    &:nth-child(even) {
      .questions__item--text {
        margin: 0 auto 0 0;
      }
    }

    &--sign {
      margin: 0 0 0 10px;
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__social {
    display: none;
    padding: 0 15px;

    @media (min-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  &__social-item {
    width: 74px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #ebebeb;
    transition: background 0.4s;

    &:not(:last-child) {
      margin-right: 24px;
    }

    path {
      transition: fill 0.4s;
    }

    &:hover {
      background-color: darken($color: #ebebeb, $amount: 30%);

      path {
        fill: #fff;
      }
    }
  }

  &__left {
	width: 100%;
	padding: 0 8px 0 0;

	@media (min-width: 768px) {
		width: 50%;
	}
  }

	&__right {
		width: 100%;
		padding: 0 0 0 8px;

		@media (min-width: 768px) {
			width: 50%;
		}

		.accordion--text {
			margin: 0 auto 0 0;
		}
	}
}

.accordion {
	margin: 0 0 8px;
	background-color: $colorBgQuestionItem;
	padding: 20px 25px;
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
	color: $color-black;
	cursor: pointer;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	transition: 0.4s;

	@media (min-width: 768px) {
		margin: 0 0 16px;
	}

	&--text{
		padding: 0 20px 0 0;
		display: block;
		position: relative;

		&::before {
			content: '+';
			position: absolute;
			font-size: 19px;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
		}

		@media (min-width: 768px) {
			margin: 0 0 0 auto;
			max-width: 565px;
		  }
	
		@media (min-width: 991px) {
			font-size: 18px;
			line-height: 24px;
		}
	}
}
  
.active, .accordion:hover {
	background-color: #ccc;
}
  
.panel {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;

	> p {
		margin: 0 0 10px;
	}
}

.footer {
  padding: 30px 0;
  border-top: 1px solid #959595;

  @media (min-width: 1024px) {
    padding: 40px 0;
  }

  &__social {
    margin: 0 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__social-item {
    display: flex;
    justify-content: center;
    align-items: center;

    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  &__copy {
    text-align: center;
    color: #959595;
  }
}

@media (max-width: 567px) {
  .logo {
    max-width: 100px;
  }
}
