$color-white: #fff;
$color-black: #000;
$color-dark-grey: #3A3A3A;
$color-light-grey: #EFEFEF;

$colorIntroTitle: $color-white;
$colorIntroSubTitle: $color-white;

$colorHeadingSubtitle: $color-dark-grey;
$colorHeadingTitle: $color-black;

$colorBgQuestionItem: $color-light-grey;

//bolt title
$colorHeadingTitleBolt: $color-dark-grey;

//block-community
$colorBgBecomeCoach: $color-light-grey;

//block-founder
$colorBgFounderInterests: $color-light-grey;